/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04 29, 16, 11:25:06 PM
    Author     : LENOVO
*/

h1{
    font-family: cursive;
    color: red;
}

form{
    margin: auto;
    align-content: center;
}


